n8n_flow.json
{
  "name": "Triagem Automática de Tickets Jira",
  "nodes": [
    {
      "parameters": {
        "content": "Arrumar o retorno desse response porque ele nao esta funcionando direito"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        336
      ],
      "typeVersion": 1,
      "id": "c8d6db4f-dd26-4ccb-b735-c71f6dc87a99",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Erro Global serve para erros não controlados\n\nExemplos reais:\n\nnode quebra (exception JS)\ntimeout no LLM\nGoogle Sheets falha\ncredencial inválida\nnode desconfigurado\nAPI fora"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        752
      ],
      "typeVersion": 1,
      "id": "1cd28869-a9ad-4aef-9f02-a119100d9962",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Erros oontrolados\n\nExemplos reais:\n\nnode quebra (exception JS)\ntimeout no LLM\nGoogle Sheets falha\ncredencial inválida\nnode desconfigurado\nAPI fora"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        752
      ],
      "typeVersion": 1,
      "id": "f2142710-073e-410f-85d5-0d0dc9b193a0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triagem-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3ce8fd88-e566-49c9-9d5c-29b54e6c433f",
      "name": "Webhook - Receive Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        0
      ],
      "webhookId": "jira-triage-webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst fallbackId = `JIRA-ERR-${Date.now()}-${Math.random().toString(36).substring(2,6).toUpperCase()}`;\n\nconst requiredFields = ['ticket_id', 'titulo', 'descricao', 'solicitante'];\n\nconst missing = [];\nconst empty = [];\n\nfor (const field of requiredFields) {\n  if (!(field in body)) {\n    missing.push(field);\n  } else if (!body[field] || String(body[field]).trim() === '') {\n    empty.push(field);\n  }\n}\n\nif (missing.length > 0 || empty.length > 0) {\n  const errorMsg = [\n    missing.length > 0 ? `Missing fields: ${missing.join(', ')}` : '',\n    empty.length > 0 ? `Empty fields: ${empty.join(', ')}` : ''\n  ]\n  .filter(Boolean)\n  .join(' | ');\n\n  return [{\n    json: {\n      valid: false,\n      error: errorMsg,\n      ticket_id: body.ticket_id || fallbackId,\n      titulo: body.titulo || '',\n      descricao: body.descricao || '',\n      solicitante: body.solicitante || '',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nif (!body.descricao || body.descricao.trim().length < 20) {\n  return [{\n    json: {\n      valid: false,\n      error: 'description too short for reliable classification (minimum 20 characters)',\n      ticket_id: body.ticket_id || fallbackId,\n      titulo: body.titulo || '',\n      descricao: body.descricao || '',\n      solicitante: body.solicitante || '',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    ticket_id: body.ticket_id,\n    titulo: body.titulo.trim(),\n    descricao: body.descricao.trim(),\n    solicitante: body.solicitante.trim(),\n    criado_em: body.criado_em || new Date().toISOString()\n  }\n}];"
      },
      "id": "bddc9748-d7c3-4218-a2b8-f6c319747219",
      "name": "Validate - Payload Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff8715f6-174f-42c7-b6d9-c1325c4cf177",
      "name": "IF - Payload Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \n  status: \"erro\", \n  motivo: $json.erro || $json.motivo || \"Erro desconhecido\",\n  detalhes: {\n    titulo: $json.titulo || null,\n    solicitante: $json.solicitante || null\n  },\n  ticket_id: $json.ticket_id,\n  timestamp: $json.timestamp || new Date().toISOString(),\n  retry: true\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "eceb1713-067d-4e6a-8534-852690507650",
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1008,
        240
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0",
          "mode": "list",
          "cachedResultName": "Triagem Tickets IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1624274732,
          "mode": "list",
          "cachedResultName": "logs_erros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0/edit#gid=1624274732"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket_id }}",
            "data_criacao": "={{ $json.timestamp }}",
            "payload_output": "={{ $json.motivo }}",
            "payload_input": "={{ $('Validate - Payload Structure').item.json.descricao }}",
            "titulo": "={{ $('Validate - Payload Structure').item.json.titulo }}",
            "solicitante": "={{ $('Validate - Payload Structure').item.json.solicitante }}",
            "error_type": "=",
            "erro": "={{ $json.log }}",
            "fluxo": "carga_util"
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_type",
              "displayName": "error_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "erro",
              "displayName": "erro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payload_input",
              "displayName": "payload_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payload_output",
              "displayName": "payload_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solicitante",
              "displayName": "solicitante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fluxo",
              "displayName": "fluxo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        240
      ],
      "id": "6c34ce54-1691-49a2-95f6-74cf1e70ae40",
      "name": "Log - Invalid Payload",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3NY45V7pWQgkrqc",
          "name": "Google Sheets account - gabryellafachini@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um classificador de tickets.\n\nClassifique o ticket com base no título e descrição.\n\nResponda OBRIGATORIAMENTE apenas com um JSON válido, sem nenhum texto adicional antes ou depois.\n\nCampos permitidos:\n- tipo: \"Bug\", \"Dúvida\" ou \"Problema\"\n- severidade: \"Alta\", \"Média\" ou \"Baixa\"\n- time_responsavel: \"Produto\", \"Engenharia\" ou \"Operações\"\n\nRegras:\n- Bug: erro, crash, algo quebrado\n- Dúvida: pergunta ou falta de entendimento\n- Problema: falha não técnica ou experiência ruim\n\nTicket:\nTítulo: {{ $json.titulo }}\nDescrição: {{ $json.descricao }}\n\nRetorne apenas:\n{\n  \"tipo\": \"...\",\n  \"severidade\": \"...\",\n  \"time_responsavel\": \"...\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        -16
      ],
      "id": "39cb4f7b-81fc-46f7-8243-0e6b3d812ba6",
      "name": "LLM Gemini - Classify Ticket",
      "credentials": {
        "googlePalmApi": {
          "id": "dQhwEgNEBdADVRmi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "parse-error-check",
              "leftValue": "={{ $json.parse_error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d477deef-88f6-4ed4-92f7-77789f5af3d2",
      "name": "IF - LLM Output Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1488,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract raw LLM response supporting multiple providers (OpenAI, Gemini, etc.)\nconst input = $input.first().json;\n\nconst raw =\n  input.message?.content ||              // OpenAI\n  input.text ||                          // Generic fallback\n  input.content?.parts?.[0]?.text ||     // Gemini (IMPORTANT)\n  '';\n\n// Get validated ticket data from previous step\nconst ticketData = $('Validate - Payload Structure').first().json;\n\n// Allowed values\nconst TIPOS_VALIDOS = ['Bug', 'Dúvida', 'Problema operacional'];\nconst SEVERIDADES_VALIDAS = ['Alta', 'Média', 'Baixa'];\nconst TIMES_VALIDOS = ['Produto', 'Engenharia', 'Operações'];\n\nlet parsed;\n\ntry {\n  // Extract JSON even if surrounded by text\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n\n  if (!jsonMatch) {\n    throw new Error('No JSON found in LLM response');\n  }\n\n  parsed = JSON.parse(jsonMatch[0]);\n\n} catch (e) {\n  return [{\n    json: {\n      parse_error: true,\n      error: `LLM parsing failed: ${e.message}`,\n      raw_response: raw,\n      ticket_id: ticketData.ticket_id,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Validation\nconst errors = [];\n\nif (!TIPOS_VALIDOS.includes(parsed.tipo)) {\n  errors.push(`invalid tipo: \"${parsed.tipo}\"`);\n}\n\nif (!SEVERIDADES_VALIDAS.includes(parsed.severidade)) {\n  errors.push(`invalid severidade: \"${parsed.severidade}\"`);\n}\n\nif (!TIMES_VALIDOS.includes(parsed.time_responsavel)) {\n  errors.push(`invalid time_responsavel: \"${parsed.time_responsavel}\"`);\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      parse_error: true,\n      error: `Values out of allowed range: ${errors.join(', ')}`,\n      raw_response: raw,\n      ticket_id: ticketData.ticket_id,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// Success\nreturn [{\n  json: {\n    parse_error: false,\n    ticket_id: ticketData.ticket_id,\n    titulo: ticketData.titulo,\n    descricao: ticketData.descricao,\n    solicitante: ticketData.solicitante,\n    criado_em: ticketData.criado_em,\n    tipo: parsed.tipo,\n    severidade: parsed.severidade,\n    time_responsavel: parsed.time_responsavel,\n    completo: parsed.completo !== false,\n    motivo_incompleto: parsed.motivo_incompleto || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "724536c2-b811-4284-97a6-dedc588118da",
      "name": "IF - LLM Output Error?2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "complete-check",
              "leftValue": "={{ $json.completo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2ca7c2b-ac18-4cd4-b639-1553002fb2cf",
      "name": "IF - Ticket Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1776,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'erro_llm', ticket_id: $json.ticket_id, motivo: $json.motivo } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "499d3a2d-4978-4d07-84e9-01d06ce04233",
      "name": "Respond - LLM Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2096,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst d = $input.first().json;\n\n// Build row for Google Sheets\nreturn [{\n  json: {\n    dados_execucao: d.timestamp,\n    ticket_id: d.ticket_id,\n    titulo: d.titulo,\n    descricao: d.descricao,\n    solicitante: d.solicitante,\n    tipo: d.tipo,\n    gravidade: d.severidade,\n    tempo_responsavel: d.time_responsavel,\n\n    // Status based on parsing result\n    status: d.parse_error ? 'erro' : 'sucesso',\n\n    // Error or incomplete reason\n    motivo: d.motivo_incompleto || d.error || '',\n\n    // Raw LLM response (if available)\n    raw_llm: d.raw_response || ''\n  }\n}];"
      },
      "id": "af82ae3f-1ca3-462c-bfb5-e0c9400dc60b",
      "name": "Build - Notification Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        144
      ],
      "id": "0e913481-6f6d-4dad-9d81-872af9afa48c",
      "name": "Log - Incomplete Ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3NY45V7pWQgkrqc",
          "name": "Google Sheets account - gabryellafachini@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'incompleto', ticket_id: $json.ticket_id, motivo: $json.motivo } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "81f4b3df-1fe6-4746-b8eb-c28cb5c2f6d0",
      "name": "Respond - Incomplete Ticket",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2480,
        144
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0",
          "mode": "list",
          "cachedResultName": "Triagem Tickets IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_execucao": "={{ $json.dados_execucao }}",
            "ticket_id": "={{ $json.ticket_id }}",
            "titulo": "={{ $json.titulo }}",
            "descricao": "={{ $json.descricao }}",
            "solicitante": "={{ $json.solicitante }}",
            "tipo": "={{ $json.tipo }}",
            "severidade": "={{ $json.gravidade }}",
            "time_responsavel": "={{ $json.tempo_responsavel }}",
            "status": "={{ $json.status }}",
            "motivo": "={{ $json.motivo }}",
            "raw_llm": "={{ $json.raw_llm }}"
          },
          "matchingColumns": [
            "data_execucao"
          ],
          "schema": [
            {
              "id": "data_execucao",
              "displayName": "data_execucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "solicitante",
              "displayName": "solicitante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severidade",
              "displayName": "severidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_responsavel",
              "displayName": "time_responsavel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_llm",
              "displayName": "raw_llm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        -48
      ],
      "id": "9d84a82d-ae8e-449c-9a8b-33442144ca80",
      "name": "Log - Save Ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3NY45V7pWQgkrqc",
          "name": "Google Sheets account - gabryellafachini@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log de erro de validação\nconst data = $input.first().json;\nconsole.error(`[TRIAGEM][ERRO-VALIDAÇÃO] ${data.timestamp} | Ticket: ${data.ticket_id} | Motivo: ${data.error}`);\n\nreturn [{\n  json: {\n    status: 'erro_validacao',\n    ticket_id: data.ticket_id,\n    motivo: data.error,\n    timestamp: data.timestamp,\n    log: `[TRIAGEM][ERRO-VALIDAÇÃO] Ticket ${data.ticket_id} rejeitado porque a ${data.error}`\n  }\n}];"
      },
      "id": "6db0cabc-3456-44a4-b481-b87dbed6b672",
      "name": "Log - Payload with validation error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.error(`[TRIAGEM][ERRO-LLM] ${data.timestamp} | Ticket: ${data.ticket_id} | ${data.error}`);\nconsole.error(`[TRIAGEM][ERRO-LLM] Raw response: ${data.raw_response}`);\n\nreturn [{\n  json: {\n    status: 'erro_llm',\n    ticket_id: data.ticket_id,\n    motivo: data.error,\n    raw_response: data.raw_response,\n    log: `[TRIAGEM][ERRO-LLM] Ticket ${data.ticket_id} — parse falhou — ${data.error}`\n  }\n}];"
      },
      "id": "e3be71d9-4e69-49a8-8aed-ee88cf3ade58",
      "name": "Log - LLM Error Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        176
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        240
      ],
      "id": "8bf3fd6c-6cbc-4bb6-accf-4d81131c9b1e",
      "name": "Log - LLM Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3NY45V7pWQgkrqc",
          "name": "Google Sheets account - gabryellafachini@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.warn(`[TRIAGEM][INCOMPLETO] ${data.timestamp} | Ticket: ${data.ticket_id} | Motivo: ${data.motivo_incompleto}`);\n\nreturn [{\n  json: {\n    status: 'incompleto',\n    ticket_id: data.ticket_id,\n    titulo: data.titulo,\n    solicitante: data.solicitante,\n    motivo: data.motivo_incompleto,\n    log: `[TRIAGEM][INCOMPLETO] Ticket ${data.ticket_id} encerrado sem triagem — ${data.motivo_incompleto}`\n  }\n}];"
      },
      "id": "e06d0468-b990-4127-9635-1a68661e51e0",
      "name": "Log - Incomplete Ticket Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        144
      ]
    },
    {
      "parameters": {
        "fromEmail": "pm@empresa.com",
        "toEmail": "=gabryellafachini@gmail.com",
        "subject": "=[Ticket Triado] {{$json.ticket_id}} - {{ $json.titulo }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, sans-serif; background-color: #f5f7fa; padding: 20px;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: auto; background: #ffffff; border-radius: 8px; padding: 20px;\">\n    \n    <!-- Header -->\n    <tr>\n      <td style=\"border-bottom: 1px solid #e0e0e0; padding-bottom: 10px;\">\n        <h2 style=\"margin: 0; color: #333;\">\n          Ticket Triaged — {{$json.ticket_id}}\n        </h2>\n        <p style=\"margin: 5px 0 0; color: #777;\">\n          {{ $json.titulo }}\n        </p>\n      </td>\n    </tr>\n\n    <!-- Classification -->\n    <tr>\n      <td style=\"padding-top: 15px;\">\n        <p><strong>Type:</strong> {{$json.tipo}}</p>\n        <p><strong>Severity:</strong> {{$json.severidade}}</p>\n        <p><strong>Responsible Team:</strong> {{$json.time_responsavel}}</p>\n      </td>\n    </tr>\n\n    <!-- Description -->\n    <tr>\n      <td style=\"padding-top: 15px;\">\n        <p><strong>Description:</strong></p>\n        <div style=\"background: #f0f2f5; padding: 10px; border-radius: 6px; color: #333;\">\n          {{\n            $json.descricao.length > 160 \n            ? $json.descricao.substring(0,157) + '...' \n            : $json.descricao\n          }}\n        </div>\n      </td>\n    </tr>\n\n    <!-- Footer -->\n    <tr>\n      <td style=\"padding-top: 20px; border-top: 1px solid #e0e0e0;\">\n        <p style=\"margin: 0; font-size: 12px; color: #777;\">\n          Requester: {{$json.solicitante}}\n        </p>\n        <p style=\"margin: 5px 0 0; font-size: 12px; color: #777;\">\n          Created at: {{\n            new Date($json.data_execucao).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })\n          }}\n        </p>\n      </td>\n    </tr>\n\n  </table>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2480,
        -48
      ],
      "id": "390716b7-a775-452d-9ec1-55653aff910a",
      "name": "Send - Email Notification",
      "webhookId": "17c0bae3-7ccc-44c5-96ca-d8672ff8390e",
      "credentials": {
        "smtp": {
          "id": "Om1OmnETEo5q07Zj",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'sucesso', ticket_id: $json.ticket_id, tipo: $json.tipo, severidade: $json.severidade, time_responsavel: $json.time_responsavel } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "42582650-be7d-4dcb-80b5-44bdc89870be",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2672,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0",
          "mode": "list",
          "cachedResultName": "Triagem Tickets IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 675048522,
          "mode": "list",
          "cachedResultName": "logs_erros_globais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17ZVO4gi8ad1yt9osfCtdfSbzALaVExTy5vYTG7a8uo0/edit#gid=675048522"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "workflow": "={{ $json.workflow }}",
            "execution_id": "={{ $json.execution_id }}",
            "node": "={{ $json.node }}",
            "error_message": "={{ $json.error_message }}",
            "error_stack": "={{ $json.error_stack }}",
            "step": "={{ $json.step }}",
            "payload_input": "={{ $json.payload_input }}",
            "tipo_erro": "={{ $json.tipo_erro }}",
            "retry": "={{ $json.retry }}",
            "ticket_id": "={{ $json.ticket_id }}"
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_stack",
              "displayName": "error_stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload_input",
              "displayName": "payload_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_erro",
              "displayName": "tipo_erro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry",
              "displayName": "retry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        560
      ],
      "id": "e20f3d14-5dfe-46e2-8036-e0493e4c3dd7",
      "name": "Log - Global Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3NY45V7pWQgkrqc",
          "name": "Google Sheets account - gabryellafachini@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "sistema@empresa.com",
        "toEmail": "gabryellafachini@gmail.com",
        "subject": "Erro de Fluxo - Automação de Jira ⚠️",
        "html": "=<div style=\"font-family: Arial, sans-serif; background-color:#f4f6f8; padding:20px;\">\n  \n  <div style=\"max-width:600px; margin:auto; background:#ffffff; border-radius:8px; padding:20px;\">\n    \n    <h2 style=\"color:#d32f2f;\">🚨 Erro Global no Fluxo</h2>\n\n    <p><strong>Workflow:</strong> {{$json.workflow}}</p>\n    <p><strong>Execução:</strong> {{$json.execution_id}}</p>\n    <p><strong>Node:</strong> {{$json.node}}</p>\n\n    <hr/>\n\n    <p><strong>📌 Ticket ID:</strong> {{$json.ticket_id}}</p>\n    <p><strong>⚙️ Etapa:</strong> {{$json.step}}</p>\n    <p><strong>📅 Data:</strong> {{$json.timestamp}}</p>\n\n    <hr/>\n\n    <p><strong>❌ Tipo de Erro:</strong> {{$json.tipo_erro}}</p>\n    <p><strong>🔁 Retry:</strong> {{$json.retry}}</p>\n\n    <div style=\"margin-top:15px;\">\n      <strong>🧠 Mensagem:</strong>\n      <pre style=\"background:#f8f8f8; padding:10px; border-radius:5px;\">\n{{$json.error_message}}\n      </pre>\n    </div>\n\n    <div style=\"margin-top:15px;\">\n      <strong>📚 Stack:</strong>\n      <pre style=\"background:#f8f8f8; padding:10px; border-radius:5px; max-height:200px; overflow:auto;\">\n{{$json.error_stack}}\n      </pre>\n    </div>\n\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        544,
        560
      ],
      "id": "218dfbc0-a3b5-460f-a314-32267eb72997",
      "name": "Send - Email (Global Error)",
      "webhookId": "a808b114-939c-4630-ad0a-2364705dde2d",
      "credentials": {
        "smtp": {
          "id": "Om1OmnETEo5q07Zj",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first().json;\n\n// Estruturas seguras\nconst execution = err.execution || {};\nconst workflow = err.workflow || {};\nconst node = err.node || {};\n\n// 🔥 Função para gerar ID único estilo JIRA\nfunction generateTicketId() {\n  const timestamp = Date.now();\n  const random = Math.random().toString(36).substring(2, 6).toUpperCase();\n  return `JIRA-ERR-${timestamp}-${random}`;\n}\n\n// 🔍 Tenta recuperar ticket_id do fluxo\nlet ticketId = null;\n\ntry {\n  ticketId =\n    err.execution?.data?.resultData?.runData?.[\"Valida Payload\"]?.[0]?.data?.main?.[0]?.[0]?.json?.ticket_id\n    || null;\n} catch (e) {\n  ticketId = null;\n}\n\n// 🔒 Garante ID único\nif (!ticketId || ticketId === \"UNKNOWN\" || ticketId.trim() === \"\") {\n  ticketId = generateTicketId();\n}\n\n// 🔥 Classificação do erro\nconst errorMessage = execution.error?.message || \"\";\n\nlet tipoErro = \"TECNICO\";\n\nif (errorMessage.toLowerCase().includes(\"timeout\")) {\n  tipoErro = \"TIMEOUT\";\n} else if (errorMessage.toLowerCase().includes(\"credential\")) {\n  tipoErro = \"CREDENCIAL\";\n} else if (errorMessage.toLowerCase().includes(\"network\")) {\n  tipoErro = \"REDE\";\n}\n\n// 🔁 Retry inteligente\nconst retry = [\"TIMEOUT\", \"REDE\"].includes(tipoErro);\n\n// 📦 Retorno final\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n\n    workflow: workflow.name || \"UNKNOWN\",\n    execution_id: execution.id || \"UNKNOWN\",\n\n    node: node.name || \"UNKNOWN\",\n\n    error_message: errorMessage || \"Erro desconhecido\",\n    error_stack: execution.error?.stack || \"\",\n\n    ticket_id: ticketId,\n\n    step: node.name || \"UNKNOWN\",\n\n    payload_input: JSON.stringify(err.execution?.data || {}),\n\n    tipo_erro: tipoErro,\n    retry: retry\n  }\n}];"
      },
      "id": "6d467c63-9c47-4a31-86ff-f57e97e02d85",
      "name": "Handle Error - Global",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        560
      ]
    },
    {
      "parameters": {},
      "id": "fa0001c5-3cee-4f29-89d8-ced3e5b62fc7",
      "name": "Handle Error - Global1",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        560
      ]
    },
    {
      "parameters": {
        "content": "Pede mais informações \nSe o relato estiver incompleto, notica o solicitante\npedindo contexto adicional\n\ncolocar \nstep: \"validacao\" nos retornos de\ntodos os códigos de fluxos para erro global"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        608
      ],
      "typeVersion": 1,
      "id": "5a3a260b-f43b-4c40-9d26-88817475b78e",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receive Ticket": {
      "main": [
        [
          {
            "node": "Validate - Payload Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - Payload Structure": {
      "main": [
        [
          {
            "node": "IF - Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Payload Valid?": {
      "main": [
        [
          {
            "node": "LLM Gemini - Classify Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Payload with validation error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Invalid Payload": {
      "main": [
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Gemini - Classify Ticket": {
      "main": [
        [
          {
            "node": "IF - LLM Output Error?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - LLM Output Error?": {
      "main": [
        [
          {
            "node": "IF - Ticket Complete?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - LLM Error Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - LLM Output Error?2": {
      "main": [
        [
          {
            "node": "IF - LLM Output Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ticket Complete?": {
      "main": [
        [
          {
            "node": "Build - Notification Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Incomplete Ticket Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build - Notification Payload": {
      "main": [
        [
          {
            "node": "Log - Save Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Incomplete Ticket": {
      "main": [
        [
          {
            "node": "Respond - Incomplete Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Save Ticket": {
      "main": [
        [
          {
            "node": "Send - Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Payload with validation error": {
      "main": [
        [
          {
            "node": "Log - Invalid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - LLM Error Validation": {
      "main": [
        [
          {
            "node": "Log - LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - LLM Error": {
      "main": [
        [
          {
            "node": "Respond - LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Incomplete Ticket Validator": {
      "main": [
        [
          {
            "node": "Log - Incomplete Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send - Email Notification": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log - Global Error": {
      "main": [
        [
          {
            "node": "Send - Email (Global Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error - Global": {
      "main": [
        [
          {
            "node": "Log - Global Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error - Global1": {
      "main": [
        [
          {
            "node": "Handle Error - Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cbcf5e46-bd6f-4f01-8f91-98dd348c5fb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34f9105c66527f4f65c6f70d4e0616775ae03e0a7ecbacfcd8926dc5aad1c863"
  },
  "id": "A8sdSHribHcanSOe",
  "tags": []
}